{% if site.footer-links.github %}
  <a class="site-footer__link" href="https://github.com/{{ site.footer-links.github }}" aria-label="GitHub" rel="me noopener noreferrer" target="_blank">
    <span class="site-footer__icon svg-icon github" aria-hidden="true"></span>
    <span class="site-footer__text">GitHub</span>
  </a>
{% endif %}
{% if site.footer-links.linkedin %}
  <a class="site-footer__link" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" aria-label="LinkedIn" rel="me noopener noreferrer" target="_blank">
    <span class="site-footer__icon svg-icon linkedin" aria-hidden="true"></span>
    <span class="site-footer__text">LinkedIn</span>
  </a>
{% endif %}
